*{  /*This is a universal selector*/
    block-size: border-box; 
}
.container{
    position: relative; /* in relative position:- gap maintained,  */
    border: solid black;
    height: 5000px;
    background-color: beige;
}
img{
    border: dashed black;
    margin: 10px;
    padding: 20px;
}

.img2{
    position: absolute; /*in absolute position:- gap dosen't maintained, relative to it's colest positioned ancestor*/
    top: 200px;
    left:500px;
}

.img4{
    position: fixed;
}

.img3{
    position: sticky;
    top: 200px;
}
.box{
    border: solid black;
    height: 5000px;
    background-color: aquamarine;
    
}

.profile{
    position: sticky;
    top: 197px;
    left: 370px;
    bottom: 0px;
}


.middle{
    position: absolute ;
    height: 359px;
    background-color: blue;
    left: 380px;
}
.subs{
    position: relative;
}